
<!-- <div style="padding:10%;background: url(assets/123.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size:100% 100%;position: absolute;height: 100%;width: 100%;" class="bodyContent"> -->


    <div class="container">
        <form #submitForm="ngForm" class="sign-up-form">
      
          <div class="left"></div>
          
          <div class="maindiv">
              <div class="card">
             <div class="position-absolute top-5 end-5 content card "></div>
             <div align="center" style="color:blue;" class="card-header rounded-bottom fs-4">Forgot Password</div>
             </div>
             
              <div class="inputs"> 
                <div class="Fields">
                  <div class="Fieldset">
                     <input type="text" style="font-size:14px;" ngModel #email name="email" id="email"  class="Before-FS" required="" autocomplete="off">
                     <h1 class="Fs-H"><span>Enter Your Email</span></h1>
                     <label for="email" class="placeholder">Enter Your Email-ID</label>
                     <!-- <button routerLink="forgot" style="text-decoration:none;" class="btn bt1">Submit</button>s -->
                     <button style="text-decoration:none;" class="btn bt1" (click)="getOtp(email.value)" >OTP</button>
      <!-- 
                     <label for="username" class="form-label">Username or Email</label>
                     <input type="text" style="font-size:14px;" name="userName" id="username" class="form-control" ngModel placeholder="Username or Email"> -->
                    
                    <!-- <button routerLink="forgot" style="text-decoration:none;" class="btn bt1">Submit</button> -->
      <!-- 
                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Confirm OTP Which Is Send On You Email-ID
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" type="Submit">Submit</a> 
                  </div>
                </div>
              </div>
          </div>
        </form>
      </div>   -->
      
      <!-- </div> -->
      <!-- </div> -->
      <!-- <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Show a second modal and hide this one with the button below.
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a> -->