
<div style="padding:10%;background-color:royalblue;background-repeat:no-repeat;background-attachment: fixed;background-size:100% 100%;position: absolute;height: 100%;width: 100%;" class="bodyContent">

    <div style="margin-top: 30px;margin-bottom:30px" class="container">
  <!-- <div class="container"> -->
      
          
    <div class="maindiv" style="margin-bottom: 20px;">
         <div class="card" >
             <div class="position-absolute top-5 end-5 content card " ></div>
             <div ><i style='font-size:40px;color: blue;' class='fas' >&#xf084;</i></div>
             <div align="center" style="color:blue;" class="card-header rounded-bottom fs-4">  Change Your Password</div>
             </div>
              <div class="inputs"> 
                <div class="Fields">
                  <div class="Fieldset">
                     <input type="text" class="Before-FS" required="" autocomplete="off">
                     <h1 class="Fs-H"><span> Enter Your New Password</span></h1> 
                     <label for="current" class="placeholder">New password</label>
                      <i class="far fa-eye" style="font-size:20px; position: absolute; right: -30px; top: 16px;" id="togglePassword"></i>
                   </div>
                   <div class="Fieldset">
                     <input type="text" class="Before-FS" required="" autocomplete="off">
                     <h1 class="Fs-H"><span>Confirm Password</span></h1>
                     <label  for="newpassword" class="placeholder">Confirm password</label>
                     <i style='font-size:20px; position: absolute; right: -30px; top: 115px;'  class='far'>&#xf070;</i>
                    </div>
                  </div>
              <div> <button routerLink="forgot" style="text-decoration:none;" class="btn bt1">Submit</button></div>
                  </div>
                  </div>
    
        </div>   
    </div> 